{% extends 'main.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<ul class="nav nav-tabs tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">ALL</a></li>
    <li><a data-toggle="tab" href="#tab2">ENTREPRENEURSHIP</a></li>
    <li><a data-toggle="tab" href="#tab3">FINANCE</a></li>
    <li><a data-toggle="tab" href="#tab4">OTHERS</a></li>
</ul>

<div class="tab-content tabs">
    <div id="tab1" class="tab-pane fade in active">
        {% for item in list %}
            <div class="bubble">
                <!-- <span class="left-bubble-symbol">&#8220;</span> -->
                <!-- <span class="right-bubble-symbol">&#8221;</span> -->
                <a href="{{ item.weburl }}" target="_blank">{{ item.text }}</a>
                <!-- <div class="bubble-overlay"> -->
                    <!-- <a href="#"><i class="fa fa-files-o"></i><br><span>Copy</span></a> -->
                    <!-- <a href="#" style="margin: 0 27px"><i class="fa fa-file-text-o"></i><br><span>URL</span></a> -->
                    <!-- <a href="#"><i class="fa fa-upload"></i><br><span>Share</span></a> -->
                <!-- </div> -->
                <div class="tags">
                    <img src="/images/ic_tag.png">
                    {% for keyword in item.tags.keywords %}
                        <span>{{ keyword.text }}</span>
                    {% endfor %}
                </div>
                <div class="time-title">
                    <span style="margin-right: 6px">{{ item.created_at }}</span>
                    &#8226;
                    <span style="margin-left: 6px">{{ item.webtitle }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="tab2" class="tab-pane fade">
        <p class="bubble">
            <span class="left-bubble-symbol">&#8220;</span>
            <span class="right-bubble-symbol">&#8221;</span>
            ENTREPRENEURSHIP TAB
        </p>
    </div>
    <div id="tab3" class="tab-pane fade">
        <p class="bubble">
            <span class="left-bubble-symbol">&#8220;</span>
            <span class="right-bubble-symbol">&#8221;</span>
            FINANCE TAB
        </p>
    </div>
    <div id="tab4" class="tab-pane fade">
        <p class="bubble">
            <span class="left-bubble-symbol">&#8220;</span>
            <span class="right-bubble-symbol">&#8221;</span>
            OTHERS TAB
        </p>
    </div>
</div>

{% endblock %}