{% extends 'main.html' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="homepage-content">
    <div class="left">
        <img src="/images/img_landing_page_mac.png">
    </div>
    <div class="right">
        <h2 style="font-size: 33px; letter-spacing: 5px">Organize <br>Modern Knowledge<br> for Mankind</h2>
        <p style="font-size: 20px;margin-top: 35px;letter-spacing: 4px">Consume, Colect and Revisit <br>Knowledge at Your Fingertips</p>
        <a href="#" style="margin-top: 80px;display: inline-block;margin-left: -17px"><img src="/images/btn_get_chrome.png"></a>
    </div>
</div>
{% endblock %}