<!DOCTYPE html>
<html>
	<head>
		<meta charget="utf-8">
		<title>{% block title %}Corate{% endblock %}</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		{% block head %}{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			{% if user %}
			<div id="leftmenu">
				<div class="account">
					<span class="avatar"><img src="{{ user.avatar }}"></span>
					<span class="name-account">{{ user.name }}</span>
				</div>
				<ul class="menu">
					{% if user %}
					<li><a href="#">Settings</a></li>
					<li><a href="/logout">Log Out</a></li>
					{% endif %}
				</ul>
			</div>
			{% endif %}
			<div class="page-content">
				{% if user %}
				<div id="header">
					<div class="navbar">
						<a href="#" class="left-menu-toggle"><i class="fa fa-bars"></i></a>
						<div class="highlight-text-search">
							<input type="text" placeholder="Search Highlights...">
						</div>
						<div class="account">
							<span class="avatar"><img src="{{ user.avatar }}"></span>
							<span class="name-account">{{ user.name }}</span>
						</div>
					</div>
				</div>
				<div class="slogan">
					<h1 style="margin-bottom: 10px;font-weight: normal;font-size: 24px;color: #5C5C5C">CORATE</h1>
					<p style="margin-top: 0;font-size: 14px;color: #9E9E9E">Organizing Modern Knowledge</p>
				</div>
				{% else %}
				<div id="header" class="homepage">
					<h3 class="main-logo">corate</h3>
					<a href="/auth/google" class="google-login-logo"><img src="/images/btn_sign_in_google.png"></a>
				</div>
				{% endif %}
			    <div class="container">
			    	{% block body %}{% endblock %}
			    </div>
			</div>
		</div>
		{% if user %}
		<script type="text/javascript">
			$(".left-menu-toggle").click(function(e) {
		        e.preventDefault();
		        $(".wrapper").toggleClass("toggled");
		    });
		</script>
		{% endif %}
	</body>
</html>
